<div class="container">

  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">

        <div class="col-xs-6">
          <img src="http://photos-e.ak.instagram.com/hphotos-ak-xaf1/914754_802211586465404_654022246_n.jpg" class="img-responsive">
        </div>

        <div class="col-xs-6">
          <div class="caption">
            <h4>13reasons</h4>
            <h5 class="text-muted"><i class="ion-clock"></i> 3 months ago</h5>

            <p>Sunnyvale, CA. I love love love it here! (even if it's only for 3 days) #california #sunnyvale #summer #bayarea #swimmingpool #garden</p>
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-xs-12">
          <h5><i class="ion-heart text-danger"></i> 10 likes</h5>

          <hr class="soften"/>


          <ul class="media-list">
            <li class="media">
              <a class="pull-left" href="#">
                <img class="media-object img-rounded" src="http://images.ak.instagram.com/profiles/anonymousUser.jpg">
              </a>
              <div class="media-body">
                <a class="media-heading" href="#">@13reasons</a>
                Comment one.
              </div>
            </li>

            <li class="media">
              <a class="pull-left" href="#">
                <img class="media-object img-rounded" src="http://images.ak.instagram.com/profiles/anonymousUser.jpg">
              </a>
              <div class="media-body">
                <a class="media-heading" href="#">@swift</a>
                Comment two.
              </div>
            </li>

            <li class="media">
              <a class="pull-left" href="#">
                <img class="media-object img-rounded" src="http://images.ak.instagram.com/profiles/anonymousUser.jpg">
              </a>
              <div class="media-body">
                <a class="media-heading" href="#">@dan</a>
                Comment three.
              </div>
            </li>
          </ul>

          <br/>

          <div class="input-group">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="like()"><i class="ion-heart text-danger"></i></button>
            </span>
            <input type="text" class="form-control" placeholder="Leave a comment...">
            <span class="input-group-btn">
            <button class="btn btn-default"><i class="ion-forward"></i></button>
          </span>
          </div>

        </div>
      </div>

    </div>
  </div>

</div>
</div>