<div class="container">

  <h2>6-4-3 grid example<p class="lead">6 columns on desktop, 4 columns on tablets, 3 columns on phones</p></h2>
  <div class="row">
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="#">
        <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
      </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="#">
        <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
      </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="#">
        <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
      </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="#">
        <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
      </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="#">
        <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
      </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="#">
        <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
      </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="#">
        <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
      </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="#">
        <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
      </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="#">
        <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
      </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="#">
        <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
      </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="#">
        <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
      </a>
    </div>
    <div class="col-lg-2 col-sm-3 col-xs-4">
      <a href="#">
        <img src="http://placehold.it/200x200" class="thumbnail img-responsive">
      </a>
    </div>
  </div>

  <div class="text-center">
    <button class="btn btn-default">Load More</button>
  </div>

  <br/>

</div>